.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-chat {
  padding-top: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  min-height: 10vh;
  background-color: #ccb2d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.App-header-logo {
  border-radius: 15px;
}

.App-chat-input-wrapper {
  border: 4px double #ccb2d9;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.App-chat-input-label {
  margin-right: 50px;
}

.App-chat-input-input {
  width: 500px;
  min-height: 70px;
  font-size: calc(10px + 2vmin);
}

.Message-list {
  color: #ccb2d9;
  list-style-image:url("http://placekitten.com/50/50");
  text-align: start;
  width: 60vw;
}

.Message-text {
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: space-between;
}

.Message-comment {
  font-size: calc(0px + 2vmin);
  text-align: end;
}